@model Sheep.Core.Application.Sheep.Contracts.EditCommand
@using Sheep.Framework.Domain.Entities
@using DNTPersianUtils.Core
<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">ویرایش اطلاعات دام</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="Edit" asp-controller="Sheep"
                          method="post"
                          data-ajax="true"
                          data-callback=""
                          data-action="Refresh"
                          enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="SheepNumber">شماره دام</label>
                                <input type="text" asp-for="SheepNumber" class="form-control" id="SheepNumber" placeholder="شماره دام">
                                <input type="text" asp-for="Id" hidden class="form-control">
                                <input type="text" asp-for="PastId" hidden class="form-control">
                                <span asp-validation-for="SheepNumber" class="error"></span>
                            </div>
                            <div class="form-group">
                                <label for="Gender">جنسیت</label>
                                <select class="form-control" asp-for="Gender" asp-items="Html.GetEnumSelectList<GenderType>()">
                                </select>
                                <span asp-validation-for="Gender" class="error"></span>
                                <span id='output'></span>
                            </div>
                            <div class="form-group">
                                <label for="SheepbirthDate">تاریخ تولد</label>
                                <input type="text" asp-for=SheepbirthDate class="form-control DatePicker" placeholder="تاریخ تولد">
                                <span asp-validation-for="SheepbirthDate" class="error"></span>
                            </div>
                            <div class="form-group">
                                <label for="Sheepshop">تاریخ خرید</label>
                                <input type="text" asp-for="SheepshopDate" class="form-control DatePicker" placeholder="تاریخ خرید">
                                <span asp-validation-for="SheepshopDate" class="error"></span>
                            </div>
                            <div class="form-group">
                                <label for="SheepState">وضعیت</label>
                                <select class="form-control" onchange="myFunction()" asp-for="SheepState" asp-items="Html.GetEnumSelectList<State>()">
                                </select>
                                <span asp-validation-for="SheepState" class="error"></span>
                            </div>
                            @if (Model.SheepState == State.Sell)
                            {
                                <div class="form-group">
                                    <label for="Sheepshop" class="SheepSellDate" >تاریخ فروش</label>
                                    <input type="text"  asp-for="SheepSellDate" class="form-control DatePicker SheepSellDate" placeholder="تاریخ فروش">
                                    <span asp-validation-for="SheepSellDate"  class="error SheepSellDate"></span>
                                </div>
                                <div class="form-group">
                                    <label for="SheepwastedDate" hidden class="SheepwastedDate">تاریخ تلف شدن</label>
                                    <input type="text" asp-for="SheepwastedDate" hidden class="form-control DatePicker SheepwastedDate" placeholder="تاریخ تلف شدن">
                                    <span asp-validation-for="SheepwastedDate" hidden class="error SheepwastedDate"></span>
                                </div>
                            }
                            @if (Model.SheepState == State.wasted)
                            {
                                <div class="form-group">
                                    <label for="SheepwastedDate" class="SheepwastedDate" >تاریخ تلف شدن</label>
                                    <input type="text"  asp-for="SheepwastedDate" class="form-control DatePicker SheepwastedDate" placeholder="تاریخ تلف شدن">
                                    <span asp-validation-for="SheepwastedDate"  class="error SheepwastedDate"></span>
                                </div>
                                <div class="form-group">
                                    <label for="Sheepshop" hidden class="SheepSellDate">تاریخ فروش</label>
                                    <input type="text" asp-for="SheepSellDate" hidden class="form-control DatePicker SheepSellDate" placeholder="تاریخ فروش">
                                    <span asp-validation-for="SheepSellDate" hidden class="error SheepSellDate"></span>
                                </div>
                            }
                        </div>
                        <!-- /.card-body -->
                        <div class="d-flex justify-content-center">
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary waves-effect">ویرایش</button>
                                <button type="button" class="btn btn-warning" data-dismiss="modal">بستن</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
@section Scripts {

} 
