@model Sheep.Core.Application.Wages_overheads.CreateCommand
@using Sheep.Framework.Domain.Entities
<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-success ">
                    <div class="card-header">
                        <h3 class="card-title"> دستمزد و سربار </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="Create" asp-controller="Wagesoverheads"
                          method="post"
                          data-ajax="true"
                          data-callback=""
                          data-action="Refresh"
                          enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Start">از تاریخ</label>
                                        <input type="text" asp-for=Start data-jdp class="form-control DatePicker" placeholder="تاریخ شروع">
                                        <span asp-validation-for="Start" class="error"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Stop"> تا تاریخ</label>
                                        <input type="text" data-jdp asp-for="End" class="form-control DatePicker" placeholder="تاریخ پایان">
                                        <span asp-validation-for="End" class="error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Salary">دستمزد</label>
                                        <input type="text" asp-for="Salary" onkeyup="format(this)" class="form-control" placeholder="دستمزد">
                                        <span asp-validation-for="Salary" class="error"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Overhead">سربار</label>
                                        <input type="text" asp-for="Overhead" onkeyup="format(this)" class="form-control" placeholder="سربار">
                                        <span asp-validation-for="Overhead" class="error"></span>
                                    </div>
                                </div>
                            </div>
               
                        </div>
                        <!-- /.card-body -->
                        <div class="d-flex justify-content-center">
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary waves-effect">ذخیره</button>
                                <button type="button" class="btn btn-warning" data-dismiss="modal">بستن</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
@section Scripts {

}