@model Sheep.Core.Application.Wages_overheads.EditCommand
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <form asp-action="Delete" asp-controller="Wagesoverheads"
              method="post"
              data-ajax="true"
              data-callback=""
              data-action="Refresh"
              enctype="multipart/form-data">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <label class="control-label">آیا از حذف اطمینان دارید؟</label>
                </div>

                <input type="hidden" hidden class="form-control" asp-for="Id">
            </div>
            <!-- /.card-body -->
            <div class="d-flex justify-content-center">
                <div class="card-footer">
                    <button type="submit" class="btn btn-danger waves-effect">بلی</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">خیر</button>
                </div>
            </div>
        </form>

    </div>
</section>

